<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>
      Online irb
    </title>
    <meta name="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/jquery.console.js"></script>

    <script type="text/javascript">
      function init_console(){
         /* First console */
        var console = $('<div class="console">');
        
        $('body').append(console);
        
        var controller1 = console.console({
          promptLabel: 'irb> ',
          commandValidate:function(line){
            if (line == "") return false;
            else return true;
          },
          commandHandle:function(line, report){
            if(line == "clear"){
              $('.console').remove();
              init_console();
            }else{
              var params = { code: line };
              $.ajax({
                url: "/run?" + $.param(params)
              }).done(function(data) {
                message = []
                if(data.opt != 'nil'){
                  message.push({msg: data.opt ,
                          className:"jquery-console-message-value"});
                }
                if(data.err != 'nil'){
                  message.push({msg: data.err ,
                          className:"jquery-console-message-error"});
                }
                message.push({msg:"=> " + data.ret ,
                          className:"jquery-console-message-type"});
                
                report(message);                  
              });         
            }
          },
          autofocus:true,
          animateScroll:true,
          promptHistory:true
        });
        
        resize();
      };
      
      function resize(){
        $('div.console div.jquery-console-inner').height($(window).height()-90);
        $('div.console div.jquery-console-inner').width($(window).width()-30);              
      }
      
      $(document).ready(function(){
        init_console();
        $(window).resize(function() {
          resize();
        });
      });
    </script>
    <style type="text/css" media="screen">
      div.console,div.console2,div.console3 { word-wrap: break-word; }
      /* First console */
      div.console { font-size: 14px; min-width:500px;}
      div.console div.jquery-console-inner
       { background:#333; padding:0.5em;
         overflow:auto }
      div.console div.jquery-console-prompt-box
       { color:#fff; font-family:monospace; }
      div.console div.jquery-console-focus span.jquery-console-cursor
       { background:#fefefe; color:#333; font-weight:bold }
      div.console div.jquery-console-message-error
       { color:#df3d05; font-family:sans-serif;
         padding:0.1em; }
      div.console div.jquery-console-message-value
       { color:#1ad027; font-family:monospace;
         padding:0.1em; }
      div.console div.jquery-console-message-type
       { color:#87a7b7; font-family:monospace;
         padding:0.1em; }
      div.console span.jquery-console-prompt-label { font-weight:bold }
    </style>
  </head>
  <body style="overflow: hidden; font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;">
    <noscript>
    <p>
      <strong>Please enable JavaScript or upgrade your browser.</strong>
    </p></noscript>
    <h3>
      Try out your Ruby code here! <a href='https://github.com/arkxu/online_irb'>Get source code</a>
    </h3>
  </body>
</html>
